@charset "UTF-8";

@media screen and (max-width: 523px) {
    
    header h1 {
        text-align: center;
    }

    header nav ul {
        flex-flow: column wrap;
        align-items: center;
        transition: all 0.3s;
    }

    header nav ul li {
        font-size: 16px;
        width: 80vw;
        text-align: center;
        transition: all 0.3s;
    }
}