@charset "UTF-8";

@media screen and (max-width: 580px) {

    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    header {
        width: 100%;
    }
    
    header h1 {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
    }

    header nav ul {
        flex-flow: column wrap;
        align-items: center;
        text-align: center;
        width: fit-content;
        padding: 10px;
    }

    header nav ul li {
        font-size: 16px;
        width: 85vw;
        text-align: center;
        transition: all 0.3s;
        padding: 10px;
    }

    header nav ul li a {
      background-color: #1E90FF;
      color: white;
      padding: 10px;
      border-radius: 10px;
      width: fit-content;
    }

    header nav ul li a::after {
        display: none;
    }

    header nav ul li a:hover {
        color: #78a0eb;
        width: fit-content;
    }
}