@charset "UTF-8";

@media screen and (max-width: 523px) {
    
    header h1 {
        text-align: center;
    }

    header div ul {
        flex-flow: column nowrap;
        align-items: center;
    }

    header div ul li {
        font-size: 16px;
        width: 80vw;
        text-align: center;
    }
    
}