@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #dbdbdb;
}

header {
    background-color: rgba(47, 79, 79, 0.781);
    padding: 10px 0px;
}

header h1 {
    color: white;
    margin-left: 20px;
}

header nav ul {
    margin: 0px 20px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
    align-content: center;
}

header nav ul li {
    margin: 8px;
    padding: 5px;
    background-color: white;
    border-radius: 7px;
    font-size: 18px;
    flex: 0 0 auto;
    transition: all 0.4s ease-in-out;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.329);
}

header nav ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.856);
    transition: all 0.3s ease-in-out;
}

header nav ul li a:hover {
    color: teal;
}

header .itens li:hover {
    transform: translateY(-2px);
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.329);
}

main h2 {
    font-size: 27px;
}

