@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #dbdbdb;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    background-image: linear-gradient(to bottom, #00BFFF, #1E90FF, #6495ED);
    padding: 15px 0px;
}

header h1 {
    color: white;
    margin-left: 20px;
    font-size: 2.3em
}

header nav ul {
    margin: 2px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
    align-content: center;
    transition: all 0.3s;
}

header nav ul li {
    margin: 8px;
    padding: 2px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 600;
    flex: 0 0 auto;
    transition: all 0.4s ease-in-out;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
}

header nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform .5s;
} 

header nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

header nav ul li a:hover {
    color: white;
}

header .itens li:hover {
    transform: translateY(-3px);
}

main {
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.329);
}

main h2 {
    font-size: 27px;
}

