@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #dbdbdb;
}

header {
    background-color: rgba(47, 79, 79, 0.781);
    padding: 10px 0;
}

header h1 {
    color: white;
    margin: 5px 37px 15px;
}

header div ul {
    text-align: left;
    margin: 5px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header div ul li {
    margin: 5px;
    padding: 6px;
    background-color: white;
    border-radius: 7px;
    font-size: 18px;
    flex: 0 0 auto;
    transition: all 0.3s ease-in-out;
}

header div ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.856);
    transition: all 0.3s ease-in-out;
}

header div ul li a:hover {
    color: teal;
    transform: translateY(-2px);
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
}


